In [1]:
import numpy as np
import seaborn as sns
import pandas as pd

In [2]:
df = pd.read_csv('your_updated_file.csv')
df.head()

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Andaman and Nicobar,South Andaman,Port Blair,Amaranthus,Amaranthus,04/19/2012,6000,8000,7000
1,Andaman and Nicobar,South Andaman,Port Blair,Banana - Green,Banana - Green,08/02/2009,4500,5500,5000
2,Andaman and Nicobar,South Andaman,Port Blair,Bhindi(Ladies Finger),Bhindi,07/28/2007,6000,8000,7000
3,Andaman and Nicobar,South Andaman,Port Blair,Bitter gourd,Other,06/07/2000,6000,8000,7000
4,Andaman and Nicobar,South Andaman,Port Blair,Black pepper,Other,01/21/2012,110000,130000,120000

In [3]:
df.drop(['variety'], axis=1, inplace=True)

In [4]:
df.isnull().sum()

state           0
district        0
market          0
commodity       0
arrival_date    0
min_price       0
max_price       0
modal_price     0
dtype: int64

In [5]:
df.columns

Index(['state', 'district', 'market', 'commodity', 'arrival_date', 'min_price',
       'max_price', 'modal_price'],
      dtype='object')

In [6]:
data2 = df.copy()

In [7]:
data2=data2.dropna()

In [8]:
data2.isnull().sum()

state           0
district        0
market          0
commodity       0
arrival_date    0
min_price       0
max_price       0
modal_price     0
dtype: int64

In [9]:
data2['arrival_date'][28]

'05/30/2021'

In [10]:
str = data2['arrival_date'][1]

In [11]:
str2 = str.split('/')
print(str)
print(str2)
print(str2[2])

08/02/2009
['08', '02', '2009']
2009

In [12]:
Dict = {1:"january", 2:"february", 3:"march", 4:"april", 5:"may", 6:"june", 7:"july", 8:"august", 9:"september", 10:"october", 11:"november", 12:"december"}
print(Dict)

{1: 'january', 2: 'february', 3: 'march', 4: 'april', 5: 'may', 6: 'june', 7: 'july', 8: 'august', 9: 'september', 10: 'october', 11: 'november', 12: 'december'}

In [13]:
month_Column = []
for rr in data2["arrival_date"]:
    str = rr
    str2 = str.split('/')
    month_Column.append(Dict[int(str2[0])])

In [14]:
len(month_Column)

2238

In [15]:
data2["month_Column"] = month_Column

In [16]:
data2["month_Column"]

0           april
1          august
2            july
3            june
4         january
          ...
2233        march
2234     february
2235      january
2236          may
2237    september
Name: month_Column, Length: 2238, dtype: object

In [17]:
data2["month_Column"].unique()

array(['april', 'august', 'july', 'june', 'january', 'september',
       'october', 'may', 'march', 'december', 'february', 'november'],
      dtype=object)

In [18]:
season_names = []

for tt in data2["month_Column"]:
    if tt in ["december", "january", "february"]:
        season_names.append("winter")
    elif tt in ["march", "april", "may"]:
        season_names.append("spring")
    elif tt in ["june", "july", "august"]:
        season_names.append("summer")
    elif tt in ["september", "october", "november"]:
        season_names.append("autumn")

In [19]:
data2["season_names"] = season_names

In [20]:
data2.head()

,state,district,market,commodity,arrival_date,min_price,max_price,modal_price,month_Column,season_names
0,Andaman and Nicobar,South Andaman,Port Blair,Amaranthus,04/19/2012,6000,8000,7000,april,spring
1,Andaman and Nicobar,South Andaman,Port Blair,Banana - Green,08/02/2009,4500,5500,5000,august,summer
2,Andaman and Nicobar,South Andaman,Port Blair,Bhindi(Ladies Finger),07/28/2007,6000,8000,7000,july,summer
3,Andaman and Nicobar,South Andaman,Port Blair,Bitter gourd,06/07/2000,6000,8000,7000,june,summer
4,Andaman and Nicobar,South Andaman,Port Blair,Black pepper,01/21/2012,110000,130000,120000,january,winter

In [21]:
import pandas as pd 
df = pd.Timestamp('04/03/2019')
print(df.dayofweek)

2

In [22]:
day_of_week = []
for rr in data2["arrival_date"]:
    str = rr
    df = pd.Timestamp(rr)
    day = df.dayofweek
    day_of_week.append(day)

In [23]:
data2["day"] = day_of_week

In [24]:
data2 = data2.drop(["arrival_date"], axis=1)

In [25]:
data2.shape

(2238, 10)

In [26]:
Q1 = np.percentile(data2['modal_price'],25,interpolation='midpoint')

Q3 = np.percentile(data2['modal_price'],75,interpolation='midpoint')
IQR = Q3-Q1

C:\Users\amrit\AppData\Local\Temp\ipykernel_21912\1002777019.py:1: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  Q1 = np.percentile(data2['modal_price'],25,interpolation='midpoint')
C:\Users\amrit\AppData\Local\Temp\ipykernel_21912\1002777019.py:3: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  Q3 = np.percentile(data2['modal_price'],75,interpolation='midpoint')

In [27]:
upper = np.where(data2['modal_price'] >= (Q3+1.5*IQR))

lower = np.where(data2['modal_price'] <= (Q1-1.5*IQR))

In [28]:
data2.drop(upper[0],inplace=True)
data2.drop(lower[0],inplace=True)

print("New Shape: ", data2.shape)

New Shape:  (2126, 10)

In [29]:
df = data2.copy()

In [30]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 0 to 2237
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         2126 non-null   object
 1   district      2126 non-null   object
 2   market        2126 non-null   object
 3   commodity     2126 non-null   object
 4   min_price     2126 non-null   int64
 5   max_price     2126 non-null   int64
 6   modal_price   2126 non-null   int64
 7   month_Column  2126 non-null   object
 8   season_names  2126 non-null   object
 9   day           2126 non-null   int64
dtypes: int64(4), object(6)
memory usage: 182.7+ KB

In [33]:
# Perform one-hot encoding on multiple columns
one_hot_encoded = pd.get_dummies(data2[['commodity', 'state', 'district', 'market', 'month_Column', 'season_names']], 
                                  prefix=['commodity', 'state', 'district', 'market', 'month_Column', 'season_names'])

# Concatenate the one-hot encoded DataFrame with the original DataFrame
data2 = pd.concat([data2, one_hot_encoded], axis=1)

# Drop the original columns if needed
columns_to_drop = ['commodity', 'state', 'district', 'market', 'month_Column', 'season_names']
data2.drop(columns_to_drop, axis=1, inplace=True)

# Now data2 will have one-hot encoded columns for the specified columns

In [37]:
data2.columns

Index(['min_price', 'max_price', 'modal_price', 'day', 'commodity_Amaranthus',
       'commodity_Amla(Nelli Kai)', 'commodity_Amphophalus', 'commodity_Apple',
       'commodity_Arecanut(Betelnut/Supari)',
       'commodity_Arhar (Tur/Red Gram)(Whole)',
       ...
       'month_Column_june', 'month_Column_march', 'month_Column_may',
       'month_Column_november', 'month_Column_october',
       'month_Column_september', 'season_names_autumn', 'season_names_spring',
       'season_names_summer', 'season_names_winter'],
      dtype='object', length=1356)